@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}
button.primary{
    background-color: #2F6DC0;
    @apply p-2 my-2 w-full text-white rounded-2xl hover:bg-blue-800;
}

.logout-button{
    @apply bg-primary p-2 my-2 w-full text-white rounded-2xl;
}
.primary-button {
    background-color: #2F6DC0;
    @apply hover:bg-blue-800;
}
.google-button {
    background-color: #E32835;
    @apply p-2 my-2 w-full rounded-2xl hover:bg-red-700;
}
.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-link {
    @apply hover:bg-gray-100 hover:underline rounded-lg p-2;
}
